$input-background-color: rgba(#fff, 0.3);
$input-border-color-active: #86b2f1;
$input-border-radius: $border-radius ;
$input-color: #fff;
$input-height:5rem;
$input-padding-horizontal:0 $padding;






.search{

position: relative;


  &__input {
    background-color: $input-background-color;
    border:0.2rem solid transparent;
    border-radius:$input-border-radius;
    color: $input-color;
    height:$input-height;
    outline: none;
    padding:$input-padding-horizontal;
    width: 100%;
    font-size: 100%;
    &:focus {
      border-color: $input-border-color-active;
    }
  }

  &__suggest {
    position: absolute;
    background-color: red;
    -webkit-box-shadow: 1px 3px 8px 3px rgba(3,2,2,0.68); 
      box-shadow: 1px 3px 8px 3px rgba(3,2,2,0.68);
    top:0;
    left: 0;
    right: 0;
    width: 1rem;
    height: 1rem;

  }
}